@font-face {
    font-family: ransomblancozero;
    font-display: block;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/RansomBlancoZero.otf');
}
@font-face {
    font-family: crashalert;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/CrashAlert.ttf');
}
@font-face{
    font-family: freeride;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Freeride.otf');
}
@font-face {
    font-family: pfonlinetwopro;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/PFOnlineTwoPro.ttf');
}
@font-face {
    font-family: gvozdi;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Gvozdi.ttf');
}
@font-face {
    font-family: acboucle;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/ACBoucle.ttf');
}
@font-face {
    font-family: couriernew;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/CourierNew.ttf');
}
@font-face {
    font-family: cormorantlight;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/CormorantLight.otf');
}
@font-face {
    font-family: banderaprolight;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/BanderaProLight.otf');
}
@font-face {
    font-family: vinslab;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/VinSlabProLight.ttf');
}
@font-face {
    font-family: alice;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Alice.ttf');
}
@font-face {
    font-family: fiveminutes;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/FiveMinutes.ttf');
}
@font-face {
    font-family: foglihten;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/FoglihtenNo06.ttf');
}
@font-face {
    font-family: fontocide;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Fontocide.ttf');
}
@font-face {
    font-family: refusepro;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/RefusePro.ttf');
}
@font-face {
    font-family: oldtimer;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/OldTimer.ttf');
}
@font-face {
    font-family: komi; /*not working*/
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Komi.ttf');
}
@font-face {
    font-family: zaychik;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Zaychik.ttf');
}
@font-face {
    font-family: podkova;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Podkova.ttf');
}
@font-face {
    font-family: bonche;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Bonche.ttf');
}
@font-face {
    font-family: unutterable;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Unutterable.ttf');
}
@font-face {
    font-family: petrivanovich;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/PetrIvanovich.ttf');
}
@font-face {
    font-family: manrope;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Manrope.ttf');
}
@font-face {
    font-family: spectral;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Spectral.ttf');
}
@font-face {
    font-family: zingrust;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/ZingRust.ttf');
}
@font-face {
    font-family: slimamif;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Slimamif.ttf');
}
@font-face {
    font-family: piazzolla;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Piazzolla.ttf');
}
@font-face {
    font-family: leohand;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/LeoHand.ttf');
}
@font-face {
    font-family: amagro;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Amagro.ttf');
}
@font-face {
    font-family: nickainley;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Nickainley.ttf');
}
@font-face {
    font-family: littletrouble;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/LittleTrouble.ttf');
}
@font-face {
    font-family: safronmodern;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/SafronModern.ttf');
}
@font-face {
    font-family: occidental;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Occidental.ttf');
}
@font-face {
    font-family: yahfie;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Yahfie.ttf');
}
@font-face {
    font-family: lagunac;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/LagunaC.ttf');
}
@font-face {
    font-family: shablon;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Shablon.ttf');
}
@font-face {
    font-family: balkan;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Balkan.ttf');
}
@font-face {
    font-family: bureauap;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/BureauAP.ttf');
}
@font-face {
    font-family: optimus;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Optimus.ttf');
}
@font-face {
    font-family: tedescalamont;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/TedescaLamont.ttf');
}
@font-face {
    font-family: abaddon;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Abaddon.ttf');
}
@font-face {
    font-family: monuniversity;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/MonUniversity.ttf');
}
@font-face {
    font-family: charlotte; /*caps, thin*/
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Charlotte.ttf');
}
@font-face {
    font-family: gasrux; /*caps, thin, crooked*/
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Gasrux.ttf');
}
@font-face {
    font-family: zyablik;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Zyablik.ttf');
}
@font-face {
    font-family: dreamcast;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Dreamcast.ttf');
}
@font-face {
    font-family: ;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/.ttf');
}
@font-face {
    font-family: ;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/.ttf');
}
@font-face {
    font-family: ;
    src: url('https://nortonsellinger.github.io/Warehouse/FONTS/.ttf');
}
v