/* O-V-E-R-A-L-L */

    /* FONTS */

    @font-face {
        font-family: ransomblancozero;
        font-display: block;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/RansomBlancoZero.otf');
        format('otf');
    }
    @font-face {
        font-family: crashalert;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/CrashAlert.ttf');
        format('ttf');
    }
    @font-face{
        font-family: freeride;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Freeride.otf');
        format('otf');
    }
    @font-face {
        font-family: pfonlinetwopro;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/PFOnlineTwoPro.ttf');
        format('ttf');
    }

    /* VARIABLES */

    :root {
        /* COMMON */
    	--DEVICE_RATIO;
        --NAV_WIDTH;
    }

    /* SELECTORS */
    * {
        box-sizing: border-box;
    }
    html {
        height: 100%;
    }
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
	flex-direction: column;
	min-height: 100vh;
        border: 0px solid fuchsia;
    }

.head_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    border: 0px solid blue;
}

/* H-E-A-D-E-R */

header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    align-items: center;
    color: white;
    background-color: black;
    --PADDING;
    --HEADER_FONT_SIZE;
}
    .headerlogo {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: var(--NAV_WIDTH);
        
        /*border: 2px solid yellow;*/
        padding: var(--PADDING);
    }
        .headerimg {
            /*--IMAGE_WIDTH;*/
           
        }
    .headertitle {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        --TITLE_PADDING;
        padding: var(--TITLE_PADDING);
        padding-left: calc(var(--TITLE_PADDING) * 1.2);
        box-sizing: border-box;
        /*border: 2px solid blue;*/
        font-family: ransomblancozero;
        font-size: var(--HEADER_FONT_SIZE);
        line-height: 1; /*ВАЖНО!*/
    }
header *::selection {
	color: black;
	background-color: white;
}


.gradient_anim {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    --BACKGROUND;
    background: var(--BACKGROUND);/*linear-gradient(-45deg, blueviolet, blue, aqua, lime, yellow, orange, red);
*/}
.gradbutton {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border: 0px solid lime;
    background: linear-gradient(135deg, #A52A2A, #FFFF00);
}

/* C-O-N-T-E-N-T */

#content {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

    /* NAVIGATION */

    nav {

        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 20%;
        border: 2px solid red;
    }
    nav div {
        font-family: freeride;
        color: white;
        background-color: black;
        box-sizing: border-box;
        padding: 4px;
        margin-bottom: 4px;
        /*border: 2px solid purple;*/
        border-radius: 0px 5px 5px 0px;
        
    }
    nav div:first-child {
        
        border-radius: 0px 10px 5px 0px;
    }
    nav div:last-child {
        border-radius: 0px 5px 10px 0px;
        margin-bottom: 0px;
    }
    nav *::selection {
    	color: black;
    	background-color: white;
    }
    nav div:hover {
        background-color: #353535;
        color: white;
    }


    /* SECTION */

    section {
        width: 100%;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        box-sizing: border-box;
        border: 2px solid black;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        box-shadow:  0px 0px 5px rgba(100, 100, 100, 0.8), inset 0px 0px 5px rgba(100, 100, 100, 0.5);
        font-family: pfonlinetwopro;
    }
    section *::selection {
    	color: white;
    	background-color: black;
    }


/* F-O-O-T-E-R */
.footer_wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid yellow;
}
footer {
    margin-top: 10px;
    color: white;
    background-color: black;
    vertical-align: bottom;
    text-align: center;
    padding: calc(var(--PADDING) * 2);
    font-family: ransomblancozero;
    font-size: calc(var(--HEADER_FONT_SIZE) * 0.7);
}
footer *::selection {
	color: black;
	background-color: white;
}




