/* O-V-E-R-A-L-L */

    /* FONTS */

    @font-face {
        font-family: ransomblancozero;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/RansomBlancoZero.otf');
        format('otf');
    }
    @font-face {
        font-family: crashalert;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/CrashAlert.ttf');
        format('ttf');
    }
    @font-face{
        font-family: freeride;
        src: url('https://nortonsellinger.github.io/Warehouse/FONTS/Freeride.otf');
        format('otf');
    }

    /* VARIABLES */

    :root {
        /* COMMON */
    	--DEVICE_RATIO;
        --NAV_WIDTH;
    }

    /* SELECTORS */
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

/* H-E-A-D-E-R */

header {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    align-items: center;
    color: white;
    background-color: black;
    --PADDING;
    --HEADER_FONT_SIZE;
}
    .headerlogo {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: var(--NAV_WIDTH);
        
        border: 2px solid yellow;
        padding: var(--PADDING);
    }
        .headerimg {
            --IMAGE_WIDTH;
            width: var(--IMAGE_WIDTH);
        }
    .headertitle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: var(--PADDING);
        padding-left: calc(var(--PADDING) + 4px);
        box-sizing: border-box;
        border: 2px solid blue;
        font-family: ransomblancozero;
        font-size: var(--HEADER_FONT_SIZE);
    }
header *::selection {
	color: black;
	background-color: white;
}


/* C-O-N-T-E-N-T */

#content {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;

}

    /* NAVIGATION */

    nav {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
        max-width: 20%;
        border: 2px solid red;
    }
    nav div {
        font-family: freeride;
        color: white;
        background-color: black;
        padding: 4px;
        margin-bottom: 4px;
        border: 2px solid purple;
        border-radius: 0px 5px 5px 0px;
        
    }
    nav div:first-child {
        margin-bottom: 4px;
        border-radius: 0px 10px 5px 0px;
    }
    nav div:last-child {
        border-radius: 0px 5px 10px 0px;
    }
    nav *::selection {
    	color: black;
    	background-color: white;
    }
    nav div:hover {
        background-color: #353535;
        color: white;
    }


    /* SECTION */

    section {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid black;
        margin-top: 10px;
    }
    section *::selection {
    	color: white;
    	background-color: black;
    }


/* F-O-O-T-E-R */

footer *::selection {
	color: black;
	background-color: white;
}




