header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    color: white;
    background-color: black;
}
    .headerlogo {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width:;
        
        /*border: 2px solid yellow;*/
        padding: ;
    }
        .headerimg {
            /*--IMAGE_WIDTH;*/
           
        }
    .headertitle {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: ;
        padding-left:;
        /*border: 2px solid blue;*/
        font-family: ransomblancozero;
        font-size: ;
        line-height: 1; /*ВАЖНО!*/
    }
header *::selection {
	color: black;
	background-color: white;
}


.gradient_anim {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background: ;/*linear-gradient(-45deg, blueviolet, blue, aqua, lime, yellow, orange, red);
*/}
.gradbutton {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border: 0px solid lime;
    background: linear-gradient(135deg, #A52A2A, #FFFF00);
}

/* C-O-N-T-E-N-T */

#content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

    /* NAVIGATION */

    nav {

        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: sticky;
        top: 50vh;
        width: 10%;
        /*border: 2px solid black;
        box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.8), inset 0px 0px 5px rgba(100, 100, 100, 0.5);*/
    }
    nav div {
        width: 100%;
        font-family: freeride;
        overflow-wrap: normal;
        color: white;
        background-color: black;
        padding: 4px;
        margin-bottom: 4px;
        /*border: 2px solid purple;*/
        border-radius: 0px 5px 5px 0px;
        
    }
    nav div:first-child {
        
        border-radius: 0px 10px 5px 0px;
    }
    nav div:last-child {
        border-radius: 0px 5px 10px 0px;
        margin-bottom: 0px;
    }
    nav *::selection {
    	color: black;
    	background-color: white;
        text-shadow: 0px 0px 4px black;
    }
    nav div:hover {
        background-color: #353535;
        color: white;
        text-shadow: 0px 0px 4px white;
    }
    nav img {
        filter: drop-shadow(0px 0px 5px black)
            /*drop-shadow(1px 1px 0 red) 
            drop-shadow(-1px -1px 0 red)
            drop-shadow(-1px 1px 0 red)
            drop-shadow(1px -1px 0 red)*/;
    }


    /* SECTION */

    section {
        width: 100%;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        
        border: 2px solid black;
        margin-left: 5px;
        margin-right: 5px;
        padding:;
        box-shadow:  0px 0px 5px rgba(100, 100, 100, 0.8), inset 0px 0px 5px rgba(100, 100, 100, 0.5);
        font-family: banderaprolight;
        font-weight: bolder;
        text-align: justify;
    }
    section img {
        border: 1px solid black;
        box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.6);
        margin: 5px 0 5px 5px;
        max-height: ;
    }
    .content_img {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
    }
    section img:first-of-type {
        margin-top: 0px;
    }
    p {
        text-indent: 30px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    p:first-of-type {
        margin-top: 0px;
    }
    section *::selection {
    	color: white;
    	background-color: black;
    }


/* F-O-O-T-E-R */
.footer_wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    height: 100%;
    border: 0px solid yellow;
}
footer {
    margin-top: 10px;
    color: white;
    background-color: black;
    vertical-align: bottom;
    text-align: center;
    padding: ;
    font-family: ransomblancozero;
    font-size:;
}
footer::selection {
	color: black;
	background-color: white;
}

